Repository open-telemetry/opentelemetry-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers, @dmitryax, @mx-psi, @evan-bradley, @dmathieu, @codeboten, @BogdanDrutu, @andrzej-stencel, @swiatekm, @djaglowski

Remove deprecated old batcher config
  .chloggen/rm-old-batcher.yaml
  exporter/exporterhelper/internal/base_exporter.go
  exporter/exporterhelper/internal/base_exporter_test.go
  exporter/exporterhelper/internal/queue_sender.go
  exporter/exporterhelper/internal/queue_sender_test.go
  exporter/exporterhelper/queue_batch.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

[chore] Update bugfix release guidelines (#12999)
  docs/release.md
Owners: @open-telemetry/collector-approvers

add 1 to waitgroup for BenchmarkMemoryQueueWaitForResult-fix
  exporter/exporterhelper/internal/queuebatch/memory_queue_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

[chore] Fix BenchmarkMemoryQueueWaitForResult test
  exporter/exporterhelper/internal/queuebatch/memory_queue_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

suggestions from code review
  exporter/exporterhelper/internal/queuebatch/memory_queue_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

[chore] Fix BenchmarkMemoryQueueWaitForResult test (#13006)
  exporter/exporterhelper/internal/queuebatch/memory_queue_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Updates according to Dmitrii's comment
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/internal/queuebatch/shard_batcher.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

[chore] Add tests loading nil to any (#12998)
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/testdata/empty_test_config.yaml
  confmap/confmap_test.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @mx-psi, @evan-bradley

Make all hooks safe including ComposeDecodeHookFunc
  confmap/confmap.go
  confmap/internal/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Restore previous hooks and document deviations from upstream
  confmap/confmap.go
  confmap/internal/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

More comments
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

make goporto
  confmap/internal/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Specify we are talking about untyped nil values
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Make linter happy
  confmap/internal/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Make linter even happier
  confmap/internal/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Move to a third_party folder
  confmap/confmap.go
  confmap/internal/third_party/composehook/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Update confmap/confmap.go
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

SPDX identifier should mention MIT license and correct copyright
  confmap/internal/third_party/composehook/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Add support for optional attribute
  .chloggen/optional-attribute.yaml
  cmd/mdatagen/internal/command.go
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/metadata.go
  cmd/mdatagen/internal/sampleconnector/documentation.md
  cmd/mdatagen/internal/sampleconnector/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/documentation.md
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs_test.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics_test.go
  cmd/mdatagen/internal/samplereceiver/metadata.yaml
  cmd/mdatagen/internal/samplescraper/documentation.md
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/documentation.md.tmpl
  cmd/mdatagen/internal/templates/helper.tmpl
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  cmd/mdatagen/internal/templates/metrics_test.go.tmpl
  cmd/mdatagen/metadata-schema.yaml
  receiver/nopreceiver/internal/metadata/generated_logs.go
  receiver/otlpreceiver/internal/metadata/generated_logs.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @evan-bradley

[chore] Make mapstructure hooks safe against untyped nils (#13001)
  confmap/confmap.go
  confmap/internal/third_party/composehook/compose_hook.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

fix
  cmd/mdatagen/internal/embedded_templates_test.go
  cmd/mdatagen/internal/loader_test.go
Owners: @open-telemetry/collector-approvers, @dmitryax

Remove dupe test after main is merged
  confmap/confmap_test.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

fix
  cmd/mdatagen/internal/command.go
  cmd/mdatagen/internal/event.go
  cmd/mdatagen/internal/metric.go
  cmd/mdatagen/internal/sampleconnector/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  receiver/nopreceiver/internal/metadata/generated_logs.go
  receiver/otlpreceiver/internal/metadata/generated_logs.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @evan-bradley

fix
  cmd/mdatagen/internal/command.go
  cmd/mdatagen/internal/command_test.go
  cmd/mdatagen/internal/event.go
  cmd/mdatagen/internal/metric.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  cmd/mdatagen/internal/testdata/async_metric.yaml
  cmd/mdatagen/internal/testdata/metrics_and_type.yaml
  cmd/mdatagen/internal/testdata/with_optional_attribute.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax

fix
  cmd/mdatagen/internal/testdata/with_optional_attribute.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax

fix
  cmd/mdatagen/internal/command_test.go
  cmd/mdatagen/internal/testdata/with_optional_attribute.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax

fix
  cmd/mdatagen/internal/command.go
Owners: @open-telemetry/collector-approvers, @dmitryax

[exporter/debug] display resource and scope in normal mode
  .chloggen/add-resource-scope.yaml
  exporter/debugexporter/README.md
  exporter/debugexporter/internal/normal/common.go
  exporter/debugexporter/internal/normal/logs.go
  exporter/debugexporter/internal/normal/logs_test.go
  exporter/debugexporter/internal/normal/metrics.go
  exporter/debugexporter/internal/normal/metrics_test.go
  exporter/debugexporter/internal/normal/profiles.go
  exporter/debugexporter/internal/normal/profiles_test.go
  exporter/debugexporter/internal/normal/traces.go
  exporter/debugexporter/internal/normal/traces_test.go
Owners: @open-telemetry/collector-approvers, @andrzej-stencel

update semconv dependency to otelgo's semconv package (#12991)
  .chloggen/codeboten_remove-internal-semconv-dep.yaml
  cmd/builder/internal/builder/main_test.go
  cmd/mdatagen/go.mod
  cmd/mdatagen/internal/sampleconnector/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  cmd/otelcorecol/builder-config.yaml
  cmd/otelcorecol/go.mod
  internal/e2e/go.mod
  otelcol/go.mod
  otelcol/otelcoltest/go.mod
  service/go.mod
  service/hostcapabilities/go.mod
  service/internal/resource/config.go
  service/internal/resource/config_test.go
  service/service.go
  service/telemetry/logger_test.go
  service/telemetry/metrics_test.go
Owners: @open-telemetry/collector-approvers, @dmitryax

make output more human friendly and concise
  exporter/debugexporter/README.md
  exporter/debugexporter/internal/normal/common.go
  exporter/debugexporter/internal/normal/logs.go
  exporter/debugexporter/internal/normal/logs_test.go
  exporter/debugexporter/internal/normal/metrics.go
  exporter/debugexporter/internal/normal/metrics_test.go
  exporter/debugexporter/internal/normal/profiles.go
  exporter/debugexporter/internal/normal/profiles_test.go
  exporter/debugexporter/internal/normal/traces.go
  exporter/debugexporter/internal/normal/traces_test.go
Owners: @open-telemetry/collector-approvers, @andrzej-stencel

fix lint
  exporter/debugexporter/internal/normal/common.go
Owners: @open-telemetry/collector-approvers, @andrzej-stencel

semconv: mark the package as deprecated
  semconv/README.md
  semconv/go.mod
  semconv/v1.21.0/doc.go
  semconv/v1.22.0/doc.go
  semconv/v1.25.0/doc.go
  semconv/v1.26.0/doc.go
  semconv/v1.27.0/doc.go
Owners: @open-telemetry/collector-approvers

changelog
  .chloggen/codeboten_mark-semconv-deprecated.yaml
Owners: @open-telemetry/collector-approvers

remove inadvertent debug code
  exporter/exporterhelper/internal/queuebatch/persistent_queue.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

add test coverage OTEL-2540
  exporter/exporterhelper/internal/queuebatch/persistent_queue.go
  exporter/exporterhelper/internal/queuebatch/persistent_queue_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Update TLDR section in builder README
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

Add builder as tool in go.mod in /cmd/builder
  cmd/builder/go.mod
Owners: @open-telemetry/collector-approvers

Update /cmd/builder README (minor fixes)
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

Update cmd/builder README with go get --tool
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

[service/internal/graph] Measure telemetry as it is passed between pipeline components (#12812)
  .chloggen/pipeline-component-metrics.yaml
  cmd/mdatagen/internal/metric.go
  cmd/mdatagen/internal/templates/documentation.md.tmpl
  cmd/mdatagen/internal/templates/telemetry.go.tmpl
  cmd/mdatagen/internal/templates/telemetrytest.go.tmpl
  service/documentation.md
  service/internal/graph/connector.go
  service/internal/graph/consumer.go
  service/internal/graph/exporter.go
  service/internal/graph/graph_test.go
  service/internal/graph/lifecycle_test.go
  service/internal/graph/obs_test.go
  service/internal/graph/processor.go
  service/internal/graph/receiver.go
  service/internal/graph/util_test.go
  service/internal/metadata/generated_telemetry.go
  service/internal/metadatatest/generated_telemetrytest.go
  service/internal/metadatatest/generated_telemetrytest_test.go
  service/internal/obsconsumer/gate_test.go
  service/internal/obsconsumer/logs.go
  service/internal/obsconsumer/logs_test.go
  service/internal/obsconsumer/metrics.go
  service/internal/obsconsumer/metrics_test.go
  service/internal/obsconsumer/profiles.go
  service/internal/obsconsumer/profiles_test.go
  service/internal/obsconsumer/traces.go
  service/internal/obsconsumer/traces_test.go
  service/metadata.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax, @djaglowski

.github/CODEOWNERS:

# Code generated by githubgen. DO NOT EDIT.
#####################################################
#
# List of codeowners
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-approvers

# Files owned by collector-releases-approvers
.github/workflows/prepare-release.yml    @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/sourcecode-release.yml @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/scripts/release-*.sh   @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers

# Start components list

cmd/builder/                             @open-telemetry/collector-approvers
cmd/mdatagen/                            @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/sampleprocessor/   @open-telemetry/collector-approvers
cmd/mdatagen/internal/samplereceiver/    @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/samplescraper/     @open-telemetry/collector-approvers @dmitryax
confmap/                                 @open-telemetry/collector-approvers @mx-psi @evan-bradley
confmap/provider/envprovider/            @open-telemetry/collector-approvers
confmap/provider/fileprovider/           @open-telemetry/collector-approvers
confmap/provider/httpprovider/           @open-telemetry/collector-approvers
confmap/provider/httpsprovider/          @open-telemetry/collector-approvers
confmap/provider/yamlprovider/           @open-telemetry/collector-approvers
connector/forwardconnector/              @open-telemetry/collector-approvers
connector/xconnector/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
consumer/xconsumer/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
docs/rfcs/                               @open-telemetry/collector-approvers @codeboten @BogdanDrutu @dmitryax @mx-psi
exporter/debugexporter/                  @open-telemetry/collector-approvers @andrzej-stencel
exporter/exporterhelper/                 @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
exporter/exporterhelper/xexporterhelper/ @open-telemetry/collector-approvers @mx-psi @dmathieu
exporter/exporterqueue/                  @open-telemetry/collector-approvers
exporter/nopexporter/                    @open-telemetry/collector-approvers @evan-bradley
exporter/otlpexporter/                   @open-telemetry/collector-approvers
exporter/otlphttpexporter/               @open-telemetry/collector-approvers
exporter/xexporter/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
extension/memorylimiterextension/        @open-telemetry/collector-approvers
extension/xextension/                    @open-telemetry/collector-approvers
extension/xextension/storage/            @open-telemetry/collector-approvers @swiatekm
extension/zpagesextension/               @open-telemetry/collector-approvers
pdata/                                   @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
pdata/pprofile/                          @open-telemetry/collector-approvers @mx-psi @dmathieu
processor/batchprocessor/                @open-telemetry/collector-approvers
processor/memorylimiterprocessor/        @open-telemetry/collector-approvers
processor/processorhelper/               @open-telemetry/collector-approvers
processor/xprocessor/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
receiver/nopreceiver/                    @open-telemetry/collector-approvers @evan-bradley
receiver/otlpreceiver/                   @open-telemetry/collector-approvers
receiver/receiverhelper/                 @open-telemetry/collector-approvers
receiver/xreceiver/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
scraper/                                 @open-telemetry/collector-approvers
scraper/scraperhelper/                   @open-telemetry/collector-approvers
service/                                 @open-telemetry/collector-approvers
service/internal/graph/                  @open-telemetry/collector-approvers @djaglowski

# End components list

#####################################################
#
# List of distribution maintainers
#
#####################################################

# Start distribution list

reports/distributions/core.yaml    @open-telemetry/collector-approvers
reports/distributions/contrib.yaml @open-telemetry/collector-approvers
reports/distributions/k8s.yaml     @open-telemetry/collector-approvers
reports/distributions/otlp.yaml    @open-telemetry/collector-approvers

# End distribution list

#####################################################
#
## UNMAINTAINED components
#
#####################################################

# Start unmaintained components list



# End unmaintained components list
