Repository open-telemetry/opentelemetry-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers, @dmitryax, @mx-psi, @evan-bradley, @dmathieu, @codeboten, @BogdanDrutu, @andrzej-stencel, @swiatekm, @djaglowski

.github/CODEOWNERS:

# Code generated by githubgen. DO NOT EDIT.
#####################################################
#
# List of codeowners
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-approvers

# Files owned by collector-releases-approvers
.github/workflows/prepare-release.yml    @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/sourcecode-release.yml @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/scripts/release-*.sh   @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers

# Start components list

cmd/builder/                             @open-telemetry/collector-approvers
cmd/mdatagen/                            @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/sampleprocessor/   @open-telemetry/collector-approvers
cmd/mdatagen/internal/samplereceiver/    @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/samplescraper/     @open-telemetry/collector-approvers @dmitryax
confmap/                                 @open-telemetry/collector-approvers @mx-psi @evan-bradley
confmap/provider/envprovider/            @open-telemetry/collector-approvers
confmap/provider/fileprovider/           @open-telemetry/collector-approvers
confmap/provider/httpprovider/           @open-telemetry/collector-approvers
confmap/provider/httpsprovider/          @open-telemetry/collector-approvers
confmap/provider/yamlprovider/           @open-telemetry/collector-approvers
connector/forwardconnector/              @open-telemetry/collector-approvers
connector/xconnector/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
consumer/xconsumer/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
docs/rfcs/                               @open-telemetry/collector-approvers @codeboten @BogdanDrutu @dmitryax @mx-psi
exporter/debugexporter/                  @open-telemetry/collector-approvers @andrzej-stencel
exporter/exporterhelper/                 @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
exporter/exporterhelper/xexporterhelper/ @open-telemetry/collector-approvers @mx-psi @dmathieu
exporter/exporterqueue/                  @open-telemetry/collector-approvers
exporter/nopexporter/                    @open-telemetry/collector-approvers @evan-bradley
exporter/otlpexporter/                   @open-telemetry/collector-approvers
exporter/otlphttpexporter/               @open-telemetry/collector-approvers
exporter/xexporter/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
extension/memorylimiterextension/        @open-telemetry/collector-approvers
extension/xextension/                    @open-telemetry/collector-approvers
extension/xextension/storage/            @open-telemetry/collector-approvers @swiatekm
extension/zpagesextension/               @open-telemetry/collector-approvers
pdata/                                   @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
pdata/pprofile/                          @open-telemetry/collector-approvers @mx-psi @dmathieu
processor/batchprocessor/                @open-telemetry/collector-approvers
processor/memorylimiterprocessor/        @open-telemetry/collector-approvers
processor/processorhelper/               @open-telemetry/collector-approvers
processor/xprocessor/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
receiver/nopreceiver/                    @open-telemetry/collector-approvers @evan-bradley
receiver/otlpreceiver/                   @open-telemetry/collector-approvers
receiver/receiverhelper/                 @open-telemetry/collector-approvers
receiver/xreceiver/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
scraper/                                 @open-telemetry/collector-approvers
scraper/scraperhelper/                   @open-telemetry/collector-approvers
service/                                 @open-telemetry/collector-approvers
service/internal/graph/                  @open-telemetry/collector-approvers @djaglowski

# End components list

#####################################################
#
# List of distribution maintainers
#
#####################################################

# Start distribution list

reports/distributions/core.yaml    @open-telemetry/collector-approvers
reports/distributions/contrib.yaml @open-telemetry/collector-approvers
reports/distributions/k8s.yaml     @open-telemetry/collector-approvers
reports/distributions/otlp.yaml    @open-telemetry/collector-approvers

# End distribution list

#####################################################
#
## UNMAINTAINED components
#
#####################################################

# Start unmaintained components list



# End unmaintained components list

[chore] Document scalability, performance and resiliency requirements for stable components (#12994)
  docs/component-stability.md
Owners: @open-telemetry/collector-approvers

Avoid allocating too much memory, sampling logic is not re-applied
  .chloggen/fix-13014.yaml
  internal/telemetry/componentattribute/logger_test.go
  internal/telemetry/componentattribute/logger_zap.go
  service/telemetry/logger.go
  service/telemetry/logger_test.go
Owners: @open-telemetry/collector-approvers

Update .chloggen/fix-13014.yaml
  .chloggen/fix-13014.yaml
Owners: @open-telemetry/collector-approvers

Avoid allocating too much memory, sampling logic is not re-applied (#13015)
  .chloggen/fix-13014.yaml
  internal/telemetry/componentattribute/logger_test.go
  internal/telemetry/componentattribute/logger_zap.go
  service/telemetry/logger.go
  service/telemetry/logger_test.go
Owners: @open-telemetry/collector-approvers

[chore] Add a known issues section to v1.29.0/v0.123.0 item
  CHANGELOG.md
Owners: @open-telemetry/collector-approvers

[chore] Add a known issues section to v1.29.0/v0.123.0 item (#13020)
  CHANGELOG.md
Owners: @open-telemetry/collector-approvers

[chore] Update github.com/ebitengine/purego to v0.8.3
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

[chore] Update github.com/ebitengine/purego to v0.8.3 (#13024)
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Changelog update v1.32.0/v0.126.0
  .chloggen/12948.yaml
  .chloggen/codeboten_remove-deprecated-funcs.yaml
  .chloggen/codeboten_remove-internal-semconv-dep.yaml
  .chloggen/confmap-append-merge-components.yaml
  .chloggen/fix-13014.yaml
  .chloggen/fix-panic-enableMergeAppendOption.yaml
  .chloggen/fix-resource-attributes-internal-console-logger.yaml
  .chloggen/mdatagen-event-definition.yaml
  .chloggen/metadata-events-func.yaml
  .chloggen/mx-psi_naming-configauth.yaml
  .chloggen/pipeline-component-metrics.yaml
  .chloggen/snappy-done-right.yaml
  .chloggen/tls-tpm.yaml
  .chloggen/tpm-test-darwin.yaml
  CHANGELOG-API.md
  CHANGELOG.md
Owners: @open-telemetry/collector-approvers

prepare release 1.32.0
  cmd/builder/internal/builder/config.go
  cmd/otelcorecol/builder-config.yaml
  versions.yaml
Owners: @open-telemetry/collector-approvers

add multimod changes 1.32.0
  cmd/builder/internal/config/default.yaml
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/main.go
Owners: @open-telemetry/collector-approvers

prepare release 0.126.0
  cmd/builder/internal/builder/config.go
  cmd/builder/test/core.builder.yaml
  cmd/otelcorecol/builder-config.yaml
  versions.yaml
Owners: @open-telemetry/collector-approvers

add multimod changes 0.126.0
  cmd/builder/internal/config/default.yaml
  cmd/otelcorecol/components.go
  cmd/otelcorecol/main.go
Owners: @open-telemetry/collector-approvers

[chore] Add tlsconfig to the spell check allowlist
  .github/workflows/utils/cspell.json
Owners: @open-telemetry/collector-approvers

go mod tidy
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  config/configgrpc/go.mod
  config/configgrpc/go.sum
  config/confighttp/go.mod
  config/confighttp/go.sum
  config/confighttp/xconfighttp/go.mod
  config/confighttp/xconfighttp/go.sum
  config/configtls/go.sum
  exporter/otlpexporter/go.mod
  exporter/otlpexporter/go.sum
  exporter/otlphttpexporter/go.mod
  exporter/otlphttpexporter/go.sum
  extension/zpagesextension/go.mod
  extension/zpagesextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  otelcol/go.sum
  otelcol/otelcoltest/go.sum
  receiver/otlpreceiver/go.mod
  receiver/otlpreceiver/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

[chore] update go patch version in cmd/otelcorecol and github actions
  .github/workflows/api-compatibility.yml
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-windows.yaml
  .github/workflows/build-and-test.yml
  .github/workflows/builder-integration-test.yaml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/contrib-tests.yml
  .github/workflows/perf.yml
  .github/workflows/prepare-release.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcorecol/go.mod
Owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers

[chore] update go patch version in cmd/otelcorecol and github actions (#13030)
  .github/workflows/api-compatibility.yml
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-windows.yaml
  .github/workflows/build-and-test.yml
  .github/workflows/builder-integration-test.yaml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/contrib-tests.yml
  .github/workflows/perf.yml
  .github/workflows/prepare-release.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcorecol/go.mod
Owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers

[chore] Add tlsconfig to the spell check allowlist (#13027)
  .github/workflows/utils/cspell.json
Owners: @open-telemetry/collector-approvers

[confmap] Enable `DecodeNil` option (#12996)
  .chloggen/mx-psi_decodenil.yaml
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

[test] Add configoptional
  config/configoptional/Makefile
  config/configoptional/go.mod
  config/configoptional/go.sum
  config/configoptional/optional.go
  config/configoptional/optional_test.go
  config/configoptional/package_test.go
  receiver/otlpreceiver/config.go
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/factory_test.go
  receiver/otlpreceiver/go.mod
  receiver/otlpreceiver/otlp.go
  receiver/otlpreceiver/otlp_test.go
Owners: @open-telemetry/collector-approvers

[PoC] Show how the factory approach would work
  config/configoptional/optional.go
  config/configoptional/optional_test.go
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/factory_test.go
  receiver/otlpreceiver/otlp.go
  receiver/otlpreceiver/otlp_test.go
Owners: @open-telemetry/collector-approvers

Make more tests pass
  cmd/otelcorecol/builder-config.yaml
  cmd/otelcorecol/go.mod
  config/configoptional/go.mod
  config/configoptional/go.sum
  internal/e2e/go.mod
  versions.yaml
Owners: @open-telemetry/collector-approvers

Make more tests work but now I am sad
  .chloggen/mx-psi_test-configoptional.yaml
  internal/e2e/consume_contract_test.go
  internal/e2e/go.mod
  internal/e2e/otlphttp_test.go
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/factory_test.go
  receiver/otlpreceiver/otlp_test.go
Owners: @open-telemetry/collector-approvers

Make even more tests work
  .github/workflows/utils/cspell.json
  cmd/builder/internal/builder/main_test.go
  cmd/otelcorecol/go.mod
Owners: @open-telemetry/collector-approvers

Tries to have a nicer API
  config/configoptional/optional.go
  config/configoptional/optional_test.go
  internal/e2e/consume_contract_test.go
  internal/e2e/otlphttp_test.go
  receiver/otlpreceiver/config.go
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/factory_test.go
  receiver/otlpreceiver/otlp.go
  receiver/otlpreceiver/otlp_test.go
Owners: @open-telemetry/collector-approvers

Corrects some comments
  config/configoptional/optional.go
  config/configoptional/optional_test.go
Owners: @open-telemetry/collector-approvers

Rename None to Default and add None
  config/configoptional/optional.go
  config/configoptional/optional_test.go
  receiver/otlpreceiver/factory.go
Owners: @open-telemetry/collector-approvers

Try and use the type in confighttp as well
  config/confighttp/confighttp.go
  config/confighttp/confighttp_test.go
  config/confighttp/go.mod
  config/confighttp/go.sum
  config/confighttp/xconfighttp/go.mod
  config/confighttp/xconfighttp/go.sum
  exporter/otlphttpexporter/go.mod
  extension/zpagesextension/go.mod
  internal/e2e/go.mod
  otelcol/go.mod
  otelcol/otelcoltest/go.mod
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/otlp_test.go
  service/go.mod
Owners: @open-telemetry/collector-approvers

Make zero value be None
  config/configoptional/optional.go
Owners: @open-telemetry/collector-approvers

Fix zpagesextension tests
  config/confighttp/confighttp_test.go
  extension/zpagesextension/go.mod
  extension/zpagesextension/zpagesextension_test.go
Owners: @open-telemetry/collector-approvers

crosslink and fix
  config/confighttp/go.mod
  config/confighttp/xconfighttp/go.mod
  config/configoptional/go.mod
  config/configoptional/optional.go
  service/hostcapabilities/go.mod
Owners: @open-telemetry/collector-approvers

make gotidy
  config/confighttp/go.mod
  config/confighttp/go.sum
  config/confighttp/xconfighttp/go.mod
  config/confighttp/xconfighttp/go.sum
  config/configoptional/go.sum
Owners: @open-telemetry/collector-approvers

[chore] update docs/release.md
  docs/release.md
Owners: @open-telemetry/collector-approvers

[chore] update docs/release.md (#13033)
  docs/release.md
Owners: @open-telemetry/collector-approvers

Revert "Update module github.com/shirou/gopsutil/v4 to v4.24.9 (#11318)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Revert "fix(deps): update module github.com/shirou/gopsutil/v4 to v4.24.10 (#11597)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Revert "fix(deps): update module github.com/shirou/gopsutil/v4 to v4.24.11 (#11784)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Revert "Update module github.com/shirou/gopsutil/v4 to v4.25.3 (#12777)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Revert "Update module github.com/shirou/gopsutil/v4 to v4.25.4 (#12967)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

Revert "Update module github.com/shirou/gopsutil/v4 to v4.24.12 (#12006)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers
