Repository open-telemetry/opentelemetry-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers, @dmitryax, @mx-psi, @evan-bradley, @dmathieu, @codeboten, @BogdanDrutu, @andrzej-stencel, @swiatekm, @djaglowski

Revert "Update module github.com/shirou/gopsutil/v4 to v4.25.1 (#12267)"
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  extension/memorylimiterextension/go.mod
  extension/memorylimiterextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/memorylimiter/go.mod
  internal/memorylimiter/go.sum
  otelcol/go.mod
  otelcol/go.sum
  otelcol/otelcoltest/go.mod
  otelcol/otelcoltest/go.sum
  processor/memorylimiterprocessor/go.mod
  processor/memorylimiterprocessor/go.sum
  service/go.mod
  service/go.sum
Owners: @open-telemetry/collector-approvers

add gopsutil/v4 to ignoreDeps to prevent renovateBot from updating until upstream issue is fixed
  renovate.json
Owners: @open-telemetry/collector-approvers

[mdatagen] Add events in generated documentation
  cmd/mdatagen/internal/command.go
  cmd/mdatagen/internal/samplereceiver/documentation.md
  cmd/mdatagen/internal/templates/documentation.md.tmpl
Owners: @open-telemetry/collector-approvers, @dmitryax

doc
  .chloggen/mdatagen-events-doc.yaml
Owners: @open-telemetry/collector-approvers

add test
  cmd/mdatagen/internal/command.go
  cmd/mdatagen/internal/command_test.go
  cmd/mdatagen/internal/testdata/events/basic_event.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax

Update documentation.md.tmpl
  cmd/mdatagen/internal/templates/documentation.md.tmpl
Owners: @open-telemetry/collector-approvers, @dmitryax

[chore] exporter/exporterhelper: remove outdated warning (#12930)
  exporter/exporterhelper/README.md
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

gogenerate
  cmd/mdatagen/internal/samplereceiver/documentation.md
Owners: @open-telemetry/collector-approvers, @dmitryax

Add documentation example for exporter package (#5675)
  exporter/example_test.go
  exporter/xexporter/go.sum
Owners: @open-telemetry/collector-approvers, @mx-psi, @dmathieu

fix
  cmd/mdatagen/internal/samplereceiver/documentation.md
  cmd/mdatagen/internal/templates/documentation.md.tmpl
Owners: @open-telemetry/collector-approvers, @dmitryax

Add size throughput metrics
  .chloggen/pipeline-throughput.yaml
  service/internal/graph/connector.go
  service/internal/graph/enabled.go
  service/internal/graph/exporter.go
  service/internal/graph/obs_test.go
  service/internal/graph/processor.go
  service/internal/graph/receiver.go
  service/internal/metadata/generated_telemetry.go
  service/internal/metadatatest/generated_telemetrytest.go
  service/internal/metadatatest/generated_telemetrytest_test.go
  service/internal/obsconsumer/logs.go
  service/internal/obsconsumer/logs_test.go
  service/internal/obsconsumer/metrics.go
  service/internal/obsconsumer/metrics_test.go
  service/internal/obsconsumer/option.go
  service/internal/obsconsumer/profiles.go
  service/internal/obsconsumer/profiles_test.go
  service/internal/obsconsumer/traces.go
  service/internal/obsconsumer/traces_test.go
  service/metadata.yaml
Owners: @open-telemetry/collector-approvers, @djaglowski

.github/CODEOWNERS:

# Code generated by githubgen. DO NOT EDIT.
#####################################################
#
# List of codeowners
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-approvers

# Files owned by collector-releases-approvers
.github/workflows/prepare-release.yml    @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/sourcecode-release.yml @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/scripts/release-*.sh   @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers

# Start components list

cmd/builder/                             @open-telemetry/collector-approvers
cmd/mdatagen/                            @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/sampleprocessor/   @open-telemetry/collector-approvers
cmd/mdatagen/internal/samplereceiver/    @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/samplescraper/     @open-telemetry/collector-approvers @dmitryax
confmap/                                 @open-telemetry/collector-approvers @mx-psi @evan-bradley
confmap/provider/envprovider/            @open-telemetry/collector-approvers
confmap/provider/fileprovider/           @open-telemetry/collector-approvers
confmap/provider/httpprovider/           @open-telemetry/collector-approvers
confmap/provider/httpsprovider/          @open-telemetry/collector-approvers
confmap/provider/yamlprovider/           @open-telemetry/collector-approvers
connector/forwardconnector/              @open-telemetry/collector-approvers
connector/xconnector/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
consumer/xconsumer/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
docs/rfcs/                               @open-telemetry/collector-approvers @codeboten @BogdanDrutu @dmitryax @mx-psi
exporter/debugexporter/                  @open-telemetry/collector-approvers @andrzej-stencel
exporter/exporterhelper/                 @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
exporter/exporterhelper/xexporterhelper/ @open-telemetry/collector-approvers @mx-psi @dmathieu
exporter/exporterqueue/                  @open-telemetry/collector-approvers
exporter/nopexporter/                    @open-telemetry/collector-approvers @evan-bradley
exporter/otlpexporter/                   @open-telemetry/collector-approvers
exporter/otlphttpexporter/               @open-telemetry/collector-approvers
exporter/xexporter/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
extension/memorylimiterextension/        @open-telemetry/collector-approvers
extension/xextension/                    @open-telemetry/collector-approvers
extension/xextension/storage/            @open-telemetry/collector-approvers @swiatekm
extension/zpagesextension/               @open-telemetry/collector-approvers
pdata/                                   @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
pdata/pprofile/                          @open-telemetry/collector-approvers @mx-psi @dmathieu
processor/batchprocessor/                @open-telemetry/collector-approvers
processor/memorylimiterprocessor/        @open-telemetry/collector-approvers
processor/processorhelper/               @open-telemetry/collector-approvers
processor/xprocessor/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
receiver/nopreceiver/                    @open-telemetry/collector-approvers @evan-bradley
receiver/otlpreceiver/                   @open-telemetry/collector-approvers
receiver/receiverhelper/                 @open-telemetry/collector-approvers
receiver/xreceiver/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
scraper/                                 @open-telemetry/collector-approvers
scraper/scraperhelper/                   @open-telemetry/collector-approvers
service/                                 @open-telemetry/collector-approvers
service/internal/graph/                  @open-telemetry/collector-approvers @djaglowski

# End components list

#####################################################
#
# List of distribution maintainers
#
#####################################################

# Start distribution list

reports/distributions/core.yaml    @open-telemetry/collector-approvers
reports/distributions/contrib.yaml @open-telemetry/collector-approvers
reports/distributions/k8s.yaml     @open-telemetry/collector-approvers
reports/distributions/otlp.yaml    @open-telemetry/collector-approvers

# End distribution list

#####################################################
#
## UNMAINTAINED components
#
#####################################################

# Start unmaintained components list



# End unmaintained components list
