Repository open-telemetry/opentelemetry-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/collector-approvers, @open-telemetry/collector-releases-approvers, @dmitryax, @mx-psi, @evan-bradley, @dmathieu, @codeboten, @BogdanDrutu, @andrzej-stencel, @swiatekm, @djaglowski

feedback
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_config.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs_test.go
  cmd/mdatagen/internal/templates/config.go.tmpl
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
Owners: @open-telemetry/collector-approvers, @dmitryax

Implement multi-key support
  exporter/exporterhelper/internal/base_exporter.go
  exporter/exporterhelper/internal/queuebatch/config.go
  exporter/exporterhelper/internal/queuebatch/default_batcher.go
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/internal/queuebatch/multi_batcher_test.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/logs.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Rename default batcher to single batcher
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/internal/queuebatch/single_batcher.go
  exporter/exporterhelper/internal/queuebatch/single_batcher_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Add more test
  exporter/exporterhelper/internal/queuebatch/config.go
  exporter/exporterhelper/internal/queuebatch/multi_batcher_test.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/internal/queuebatch/queue_batch_test.go
  exporter/exporterhelper/logs.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Hide single batcher from queue_bath
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  exporter/debugexporter/go.mod
  exporter/debugexporter/go.sum
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/xexporterhelper/go.mod
  exporter/exporterhelper/xexporterhelper/go.sum
  exporter/exportertest/go.mod
  exporter/exportertest/go.sum
  exporter/go.mod
  exporter/go.sum
  exporter/nopexporter/go.sum
  exporter/otlpexporter/go.mod
  exporter/otlpexporter/go.sum
  exporter/otlphttpexporter/go.mod
  exporter/otlphttpexporter/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  otelcol/go.sum
  otelcol/otelcoltest/go.sum
  service/go.sum
Owners: @open-telemetry/collector-approvers, @andrzej-stencel, @BogdanDrutu, @dmitryax, @mx-psi, @dmathieu, @evan-bradley

make linter happy
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

use sync map
  cmd/otelcorecol/go.mod
  cmd/otelcorecol/go.sum
  exporter/debugexporter/go.mod
  exporter/debugexporter/go.sum
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/xexporterhelper/go.mod
  exporter/exporterhelper/xexporterhelper/go.sum
  exporter/exportertest/go.mod
  exporter/exportertest/go.sum
  exporter/go.mod
  exporter/go.sum
  exporter/nopexporter/go.sum
  exporter/otlpexporter/go.mod
  exporter/otlpexporter/go.sum
  exporter/otlphttpexporter/go.mod
  exporter/otlphttpexporter/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  otelcol/go.sum
  otelcol/otelcoltest/go.sum
  service/go.sum
Owners: @open-telemetry/collector-approvers, @andrzej-stencel, @BogdanDrutu, @dmitryax, @mx-psi, @dmathieu, @evan-bradley

rename single batcher to shard batcher
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/internal/queuebatch/shard_batcher.go
  exporter/exporterhelper/internal/queuebatch/shard_batcher_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Added compile time check that multi batcher implements batcher interface
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

test
  exporter/exporterhelper/internal/queuebatch/multi_batcher.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Avoid the exporter for being stuck when telemetry data is bigger than batch.max_size
  .chloggen/12893.yaml
  exporter/exporterhelper/documentation.md
  exporter/exporterhelper/internal/metadata/generated_telemetry.go
  exporter/exporterhelper/internal/metadatatest/generated_telemetrytest.go
  exporter/exporterhelper/internal/metadatatest/generated_telemetrytest_test.go
  exporter/exporterhelper/internal/queuebatch/default_batcher.go
  exporter/exporterhelper/internal/queuebatch/default_batcher_test.go
  exporter/exporterhelper/internal/queuebatch/queue_batch.go
  exporter/exporterhelper/logs_batch.go
  exporter/exporterhelper/logs_batch_test.go
  exporter/exporterhelper/metadata.yaml
  exporter/exporterhelper/metrics_batch.go
  exporter/exporterhelper/metrics_batch_test.go
  exporter/exporterhelper/traces_batch.go
  exporter/exporterhelper/traces_batch_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

[chore] Specify that the merge freeze also applies to update-otel
  docs/release.md
Owners: @open-telemetry/collector-approvers

Update docs/release.md
  docs/release.md
Owners: @open-telemetry/collector-approvers

[chore] Update recently added dependency to fix lint on some versions of go
  cmd/otelcorecol/go.sum
  config/configgrpc/go.sum
  config/confighttp/go.sum
  config/confighttp/xconfighttp/go.sum
  config/configtls/go.mod
  config/configtls/go.sum
  exporter/otlpexporter/go.sum
  exporter/otlphttpexporter/go.sum
  extension/zpagesextension/go.sum
  internal/e2e/go.sum
  receiver/otlpreceiver/go.sum
  service/go.sum
Owners: @open-telemetry/collector-approvers

Add consumer and producer item count metrics
  .chloggen/pipeline-component-metrics.yaml
  cmd/mdatagen/internal/metric.go
  cmd/mdatagen/internal/templates/documentation.md.tmpl
  cmd/mdatagen/internal/templates/telemetry.go.tmpl
  cmd/mdatagen/internal/templates/telemetrytest.go.tmpl
  service/documentation.md
  service/internal/graph/connector.go
  service/internal/graph/consumer.go
  service/internal/graph/exporter.go
  service/internal/graph/graph_test.go
  service/internal/graph/obs_test.go
  service/internal/graph/processor.go
  service/internal/graph/receiver.go
  service/internal/graph/util_test.go
  service/internal/metadata/generated_telemetry.go
  service/internal/metadatatest/generated_telemetrytest.go
  service/internal/metadatatest/generated_telemetrytest_test.go
  service/metadata.yaml
Owners: @open-telemetry/collector-approvers, @dmitryax, @djaglowski

[chore] Specify that the merge freeze also applies to update-otel (#12988)
  docs/release.md
Owners: @open-telemetry/collector-approvers

[chore] Specify that the merge freeze also applies to update-otel (#12988)
  docs/release.md
Owners: @open-telemetry/collector-approvers

update semconv dependency to otelgo's semconv package
  cmd/builder/internal/builder/main_test.go
  cmd/mdatagen/go.mod
  cmd/mdatagen/internal/sampleconnector/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  cmd/otelcorecol/builder-config.yaml
  cmd/otelcorecol/go.mod
  internal/e2e/go.mod
  otelcol/go.mod
  otelcol/otelcoltest/go.mod
  service/go.mod
  service/hostcapabilities/go.mod
  service/internal/resource/config.go
  service/internal/resource/config_test.go
  service/service.go
  service/telemetry/logger_test.go
  service/telemetry/metrics_test.go
Owners: @open-telemetry/collector-approvers, @dmitryax

add changelog
  .chloggen/codeboten_remove-internal-semconv-dep.yaml
Owners: @open-telemetry/collector-approvers

remove deprecated aliases
  config/configauth/configauth.go
  extension/extensionauth/extensionauthtest/err.go
Owners: @open-telemetry/collector-approvers

changelog
  .chloggen/codeboten_remove-deprecated-funcs.yaml
Owners: @open-telemetry/collector-approvers

Update .chloggen/codeboten_remove-deprecated-funcs.yaml
  .chloggen/codeboten_remove-deprecated-funcs.yaml
Owners: @open-telemetry/collector-approvers

remove deprecated aliases (#12992)
  .chloggen/codeboten_remove-deprecated-funcs.yaml
  config/configauth/configauth.go
  extension/extensionauth/extensionauthtest/err.go
Owners: @open-telemetry/collector-approvers

remove deprecated aliases (#12992)
  .chloggen/codeboten_remove-deprecated-funcs.yaml
  config/configauth/configauth.go
  extension/extensionauth/extensionauthtest/err.go
Owners: @open-telemetry/collector-approvers

Enabled telemetry based on featuregate
  cmd/otelcorecol/go.sum
  config/configgrpc/go.sum
  config/confighttp/go.sum
  config/confighttp/xconfighttp/go.sum
  config/configtls/go.mod
  config/configtls/go.sum
  exporter/otlpexporter/go.sum
  exporter/otlphttpexporter/go.sum
  extension/zpagesextension/go.sum
  internal/e2e/go.sum
  receiver/otlpreceiver/go.sum
  service/go.sum
  service/internal/graph/connector.go
  service/internal/graph/graph_test.go
  service/internal/graph/lifecycle_test.go
  service/internal/graph/obs_test.go
  service/internal/graph/processor.go
  service/internal/graph/receiver.go
  service/internal/graph/util_test.go
  service/internal/metadata/generated_telemetry.go
  service/internal/metadatatest/generated_telemetrytest.go
  service/internal/metadatatest/generated_telemetrytest_test.go
  service/internal/obsconsumer/gate_test.go
  service/internal/obsconsumer/logs.go
  service/internal/obsconsumer/logs_test.go
  service/internal/obsconsumer/metrics.go
  service/internal/obsconsumer/metrics_test.go
  service/internal/obsconsumer/profiles.go
  service/internal/obsconsumer/profiles_test.go
  service/internal/obsconsumer/traces.go
  service/internal/obsconsumer/traces_test.go
  service/metadata.yaml
Owners: @open-telemetry/collector-approvers, @djaglowski

[mdatagen] Add functions for processing structured events (#12961)
  .chloggen/metadata-events-func.yaml
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_config.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs_test.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/testdata/config.yaml
  cmd/mdatagen/internal/samplereceiver/metadata.yaml
  cmd/mdatagen/internal/templates/config.go.tmpl
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
  cmd/mdatagen/internal/templates/testdata/config.yaml.tmpl
  receiver/nopreceiver/internal/metadata/generated_logs.go
  receiver/otlpreceiver/internal/metadata/generated_logs.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @evan-bradley

[mdatagen] Add functions for processing structured events (#12961)
  .chloggen/metadata-events-func.yaml
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_config.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs_test.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/testdata/config.yaml
  cmd/mdatagen/internal/samplereceiver/metadata.yaml
  cmd/mdatagen/internal/templates/config.go.tmpl
  cmd/mdatagen/internal/templates/logs.go.tmpl
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
  cmd/mdatagen/internal/templates/testdata/config.yaml.tmpl
  receiver/nopreceiver/internal/metadata/generated_logs.go
  receiver/otlpreceiver/internal/metadata/generated_logs.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @evan-bradley

[chore] Document scalability, performance and resiliency requirements for stable components:
  docs/component-stability.md
Owners: @open-telemetry/collector-approvers

Add the AsReadOnly function to pcommon.Map and pcommon.Slice
  .chloggen/add-as-read-only-pcommon-func.yaml
  pdata/pcommon/map.go
  pdata/pcommon/map_test.go
  pdata/pcommon/slice.go
  pdata/pcommon/slice_test.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

Add PR number to changelog
  .chloggen/add-as-read-only-pcommon-func.yaml
Owners: @open-telemetry/collector-approvers

[confmap] Enable `DecodeNil` option
  .chloggen/mx-psi_decodenil.yaml
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Add confmap test showing bug in mapstructure
  confmap/confmap_test.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

Update TLDR section
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

Add builder as tool in go.mod
  cmd/builder/go.mod
Owners: @open-telemetry/collector-approvers

Update README with go get --tool
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

Update README (minor fixes)
  cmd/builder/README.md
Owners: @open-telemetry/collector-approvers

[chore] Add tests loading nil to any
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/testdata/empty_test_config.yaml
  confmap/confmap_test.go
Owners: @open-telemetry/collector-approvers, @dmitryax, @mx-psi, @evan-bradley

[chore] Update bugfix release guidelines
  docs/release.md
Owners: @open-telemetry/collector-approvers

[chore] Make all hooks be mapstructure.DecodeHookFuncValue
  confmap/confmap.go
Owners: @open-telemetry/collector-approvers, @mx-psi, @evan-bradley

PoC for gathering batch size metrics
  exporter/exporterhelper/documentation.md
  exporter/exporterhelper/internal/metadata/generated_telemetry.go
  exporter/exporterhelper/internal/metadatatest/generated_telemetrytest.go
  exporter/exporterhelper/internal/metadatatest/generated_telemetrytest_test.go
  exporter/exporterhelper/internal/queuebatch/default_batcher.go
  exporter/exporterhelper/internal/request/request.go
  exporter/exporterhelper/logs.go
  exporter/exporterhelper/metadata.yaml
  exporter/exporterhelper/metrics.go
  exporter/exporterhelper/traces.go
Owners: @open-telemetry/collector-approvers, @BogdanDrutu, @dmitryax

.github/CODEOWNERS:

# Code generated by githubgen. DO NOT EDIT.
#####################################################
#
# List of codeowners
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-approvers

# Files owned by collector-releases-approvers
.github/workflows/prepare-release.yml    @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/sourcecode-release.yml @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers
.github/workflows/scripts/release-*.sh   @open-telemetry/collector-approvers @open-telemetry/collector-releases-approvers

# Start components list

cmd/builder/                             @open-telemetry/collector-approvers
cmd/mdatagen/                            @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/sampleprocessor/   @open-telemetry/collector-approvers
cmd/mdatagen/internal/samplereceiver/    @open-telemetry/collector-approvers @dmitryax
cmd/mdatagen/internal/samplescraper/     @open-telemetry/collector-approvers @dmitryax
confmap/                                 @open-telemetry/collector-approvers @mx-psi @evan-bradley
confmap/provider/envprovider/            @open-telemetry/collector-approvers
confmap/provider/fileprovider/           @open-telemetry/collector-approvers
confmap/provider/httpprovider/           @open-telemetry/collector-approvers
confmap/provider/httpsprovider/          @open-telemetry/collector-approvers
confmap/provider/yamlprovider/           @open-telemetry/collector-approvers
connector/forwardconnector/              @open-telemetry/collector-approvers
connector/xconnector/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
consumer/xconsumer/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
docs/rfcs/                               @open-telemetry/collector-approvers @codeboten @BogdanDrutu @dmitryax @mx-psi
exporter/debugexporter/                  @open-telemetry/collector-approvers @andrzej-stencel
exporter/exporterhelper/                 @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
exporter/exporterhelper/xexporterhelper/ @open-telemetry/collector-approvers @mx-psi @dmathieu
exporter/exporterqueue/                  @open-telemetry/collector-approvers
exporter/nopexporter/                    @open-telemetry/collector-approvers @evan-bradley
exporter/otlpexporter/                   @open-telemetry/collector-approvers
exporter/otlphttpexporter/               @open-telemetry/collector-approvers
exporter/xexporter/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
extension/memorylimiterextension/        @open-telemetry/collector-approvers
extension/xextension/                    @open-telemetry/collector-approvers
extension/xextension/storage/            @open-telemetry/collector-approvers @swiatekm
extension/zpagesextension/               @open-telemetry/collector-approvers
pdata/                                   @open-telemetry/collector-approvers @BogdanDrutu @dmitryax
pdata/pprofile/                          @open-telemetry/collector-approvers @mx-psi @dmathieu
processor/batchprocessor/                @open-telemetry/collector-approvers
processor/memorylimiterprocessor/        @open-telemetry/collector-approvers
processor/processorhelper/               @open-telemetry/collector-approvers
processor/xprocessor/                    @open-telemetry/collector-approvers @mx-psi @dmathieu
receiver/nopreceiver/                    @open-telemetry/collector-approvers @evan-bradley
receiver/otlpreceiver/                   @open-telemetry/collector-approvers
receiver/receiverhelper/                 @open-telemetry/collector-approvers
receiver/xreceiver/                      @open-telemetry/collector-approvers @mx-psi @dmathieu
scraper/                                 @open-telemetry/collector-approvers
scraper/scraperhelper/                   @open-telemetry/collector-approvers
service/                                 @open-telemetry/collector-approvers
service/internal/graph/                  @open-telemetry/collector-approvers @djaglowski

# End components list

#####################################################
#
# List of distribution maintainers
#
#####################################################

# Start distribution list

reports/distributions/core.yaml    @open-telemetry/collector-approvers
reports/distributions/contrib.yaml @open-telemetry/collector-approvers
reports/distributions/k8s.yaml     @open-telemetry/collector-approvers
reports/distributions/otlp.yaml    @open-telemetry/collector-approvers

# End distribution list

#####################################################
#
## UNMAINTAINED components
#
#####################################################

# Start unmaintained components list



# End unmaintained components list
