Repository open-telemetry/opentelemetry-collector, pull requests merged in 2021-05, with the labels that each got.

#3032 Fix port number in jaegerreceiver/README.md
  receiver/jaegerreceiver/README.md
Labels: waiting-for-author

#3081 Enable generation and comparison of public API snapshots
  Makefile
  internal/buildscripts/compare-apidiff.sh
  internal/buildscripts/gen-apidiff.sh
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: waiting-for-author

#3025 Update function descriptions
  component/componenttest/nop_extension.go
  component/componenttest/nop_processor.go
  component/componenttest/nop_receiver.go
  component/exporter_test.go
  component/receiver.go
Labels: Stale, waiting-for-author

#3127 Honor Prometheus external labels
  receiver/prometheusreceiver/internal/ocastore.go
  receiver/prometheusreceiver/internal/ocastore_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_reciever_external_labels_test.go
Labels: area:prometheus, ready-to-merge

#2993 exporters/prometheusremotewrite: Do not append '_total' to counter metric names
  CHANGELOG.md
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/helper_test.go
Labels: area:prometheus, ready-to-merge

#3046 Allow users to configure the Prometheus remote write queue
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/testdata/config.yaml
Labels: area:prometheus, ready-to-merge, waiting-for-author

#3210 Remove QueueSettings from the Prometheus remote write exporter
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: area:exporter, area:prometheus, ready-to-merge

#3212 Make editorial changes to the PRW exporter README
  exporter/prometheusremotewriteexporter/README.md
Labels: area:documentation, area:prometheus, waiting-for-author

#3163 Standarize Settings, Params and Parameters
  CHANGELOG.md
  cmd/otelcol/main.go
  cmd/otelcol/main_others.go
  cmd/otelcol/main_windows.go
  service/application.go
  service/application_test.go
  service/application_windows.go
  service/application_windows_test.go
  service/service.go
  service/service_test.go
  service/settings.go
  testbed/testbed/otelcol_runner.go
Labels: waiting-for-author

#3308 Refactored PromRemoteWriteExporter to create client in Start to accomodate future update to ToClient() apis
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/factory_test.go
Labels: area:prometheus
