Repository open-telemetry/opentelemetry-collector, pull requests merged in 2021-06, with the labels that each got.

#3303 Review component package grammar
  component/component.go
  component/exporter.go
  component/extension.go
  component/host.go
  component/processor.go
  component/receiver.go
Labels: ready-to-merge

#3167 Standarize Settings, Params and Parameters in Receiver
  CHANGELOG.md
  component/componenttest/nop_receiver.go
  component/componenttest/nop_receiver_test.go
  component/receiver.go
  component/receiver_test.go
  exporter/opencensusexporter/opencensus_test.go
  exporter/otlphttpexporter/otlp_test.go
  exporter/prometheusexporter/end_to_end_test.go
  internal/testcomponents/example_receiver.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/factory_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/factory_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/jaegerreceiver/trace_receiver_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/opencensusreceiver/factory.go
  receiver/opencensusreceiver/factory_test.go
  receiver/otlpreceiver/factory.go
  receiver/otlpreceiver/factory_test.go
  receiver/otlpreceiver/otlp_test.go
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/factory_test.go
  receiver/receiverhelper/factory.go
  receiver/receiverhelper/factory_test.go
  receiver/zipkinreceiver/factory.go
  receiver/zipkinreceiver/factory_test.go
  service/defaultcomponents/default_receivers_test.go
  service/internal/builder/receivers_builder.go
  testbed/testbed/receivers.go
Labels: waiting-for-author

#3139 receiver/prometheus/internal: add createNodeAndResourcePdata for Prometheus->OTLP Pdata
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
Labels: area:prometheus, waiting-for-author

#3261 Remove unnecessary functions in PrometheusRemoteWriteExporter
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/helper.go
Labels: area:prometheus, waiting-for-author

#3145 receiver/prometheus/internal: direct metricfamily Prometheus->OTLP + equivalent tests
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
Labels: area:prometheus, waiting-for-author

#3408 receiver/prometheus: reject datapoints with duplicate label keys
  receiver/prometheusreceiver/internal/metricsbuilder.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
Labels: area:prometheus

#3269 Edit type/func documentation in the consumer package
  CHANGELOG.md
  consumer/consumererror/permanent.go
  consumer/consumererror/signalerrors.go
  consumer/consumerhelper/common.go
  consumer/consumertest/base_consumer.go
  consumer/consumertest/consumer.go
  consumer/consumertest/err.go
  consumer/consumertest/sink.go
  consumer/pdata/common.go
  consumer/pdata/doc.go
  consumer/pdata/logs.go
  consumer/pdata/metrics.go
  consumer/pdata/traces.go
  consumer/simple/metrics.go
Labels: ready-to-merge

#3360 Return concrete error type
  receiver/scrapererror/partialscrapeerror.go
  receiver/scrapererror/partialscrapeerror_test.go
Labels: ready-to-merge

#3410 Disallow renaming metrics using the prometheus receiver
  CHANGELOG.md
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-relabel.yaml
Labels: area:prometheus, area:receiver, ready-to-merge

#3414 receiver/prometheus: add store to track stale metrics
  receiver/prometheusreceiver/internal/staleness_store.go
  receiver/prometheusreceiver/internal/staleness_store_test.go
Labels: area:prometheus, area:receiver, ready-to-merge

#3327 Change call pattern for scraper
  CHANGELOG.md
  obsreport/obsreport_scraper.go
  obsreport/obsreport_test.go
  receiver/scraperhelper/scraper.go
Labels: area:prometheus, ready-to-merge, release:allowed-for-ga

#3458 Remove unused from consumer/simple
  consumer/simple/metrics.go
  consumer/simple/metrics_test.go
Labels: area:miscellaneous

#3461 Fix missing startTimestamp for processes scraper.
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_darwin.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_fallback.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_linux.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_unix.go
  receiver/hostmetricsreceiver/internal/testutils.go
Labels: area:receiver, ready-to-merge

#3116 "wake up" internal prometheus scrapper metrics (up / scrape_xxxx)
  exporter/prometheusexporter/end_to_end_test.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricsbuilder.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_external_labels_test.go
Labels: area:prometheus, ready-to-merge, release:required-for-ga

#3450 prometheus: scrapers are not stopped when receiver is shutdown
  receiver/prometheusreceiver/internal/metadata.go
  receiver/prometheusreceiver/internal/ocastore.go
  receiver/prometheusreceiver/internal/ocastore_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: area:prometheus, area:receiver, bug

#3455 Move model pdata interfaces to pdata, expose them publicly
  consumer/pdata/doc.go
  consumer/pdata/errors.go
  consumer/pdata/errors_test.go
  consumer/pdata/logs.go
  consumer/pdata/logs_test.go
  consumer/pdata/metrics.go
  consumer/pdata/metrics_test.go
  consumer/pdata/mocks_test.go
  consumer/pdata/traces.go
  consumer/pdata/traces_test.go
  exporter/kafkaexporter/pdata_marshaler.go
  exporter/loggingexporter/logging_exporter.go
  internal/model/README.md
  internal/model/decoder.go
  internal/model/encoder.go
  internal/model/from_translator.go
  internal/model/marshaler.go
  internal/model/marshaler_test.go
  internal/model/to_translator.go
  internal/model/unmarshal.go
  internal/model/unmarshal_test.go
  internal/otlp/json_encoder.go
  internal/otlp/marshaler.go
  internal/otlp/pb_encoder.go
  internal/otlp/to_translator.go
  internal/otlp/unmarshaler.go
  internal/otlptext/logs.go
  internal/otlptext/metrics.go
  internal/otlptext/traces.go
  receiver/kafkareceiver/pdata_unmarshaler.go
  receiver/otlpreceiver/otlphttp.go
  receiver/zipkinreceiver/trace_receiver.go
  translator/trace/zipkinv1/json.go
  translator/trace/zipkinv1/thrift.go
  translator/trace/zipkinv1/to_translator.go
  translator/trace/zipkinv2/from_translator.go
  translator/trace/zipkinv2/json.go
  translator/trace/zipkinv2/json_test.go
  translator/trace/zipkinv2/protobuf.go
  translator/trace/zipkinv2/protobuf_test.go
  translator/trace/zipkinv2/to_translator.go
Labels: area:miscellaneous

#3446 Small cleanups in testbed, hide unnecessary public structs
  testbed/correctness/metrics/correctness_test_case.go
  testbed/testbed/child_process_collector.go
  testbed/testbed/in_process_collector.go
  testbed/testbed/in_process_collector_test.go
  testbed/testbed/options.go
  testbed/testbed/otelcol_runner.go
  testbed/testbed/test_bed.go
  testbed/tests/e2e_test.go
  testbed/tests/metric_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: area:miscellaneous
