Repository open-telemetry/opentelemetry-collector, pull requests merged in 2021-07, with the labels that each got.

#3423 receiver/prometheus: glue and complete staleness marking for disappearing metrics
  receiver/prometheusreceiver/internal/metricsbuilder.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
  receiver/prometheusreceiver/internal/ocastore.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/internal/staleness_store.go
  receiver/prometheusreceiver/internal/staleness_store_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: area:prometheus, area:receiver

#3597 exporter/prometheusremotewrite: add a WAL implementation without wiring up
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
  go.mod
  go.sum
Labels: area:exporter, area:prometheus

#3667 receiver/prometheus: add metricGroup.toDistributionPoint pdata conversion
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: release:required-for-ga

#3668 receiver/prometheus: add metricGroup.toSummaryPoint pdata conversion
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: area:prometheus, area:receiver

#3476 Add VERSIONING.md to describe versioning policy
  VERSIONING.md
Labels: area:documentation, release:required-for-ga

#3674 receiver/prometheus: add metricGroup.toNumberDataPoint pdata conversion
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: area:prometheus, area:receiver
