Repository open-telemetry/opentelemetry-collector, pull requests merged in 2025-06, with the labels that each got.

#13121 [chore][mdatagen] Fix failed tests when there are no enabled events b…
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_logs_test.go
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
Labels: cmd/mdatagen

#13132 [chore] Remove duplicated 'will be's
  cmd/mdatagen/internal/loader_test.go
  cmd/mdatagen/internal/sampleconnector/documentation.md
  cmd/mdatagen/internal/sampleconnector/metadata.yaml
  cmd/mdatagen/internal/samplereceiver/documentation.md
  cmd/mdatagen/internal/samplereceiver/metadata.yaml
  cmd/mdatagen/internal/samplescraper/documentation.md
  cmd/mdatagen/internal/samplescraper/metadata.yaml
Labels: cmd/mdatagen

#13131 [mdatagen] Add docs for optional events
  cmd/mdatagen/internal/samplereceiver/documentation.md
  cmd/mdatagen/internal/templates/documentation.md.tmpl
Labels: Skip Changelog, cmd/mdatagen

#13122 [mdatagen] Fix code generation when there are no events defined in me…
  .chloggen/fix-issue-no-events.yaml
  cmd/mdatagen/internal/samplescraper/README.md
  cmd/mdatagen/internal/samplescraper/factory.go
  cmd/mdatagen/internal/samplescraper/generated_component_test.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_logs.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_status.go
  cmd/mdatagen/internal/samplescraper/metadata.yaml
  cmd/mdatagen/internal/templates/logs.go.tmpl
Labels: cmd/mdatagen

#13070 Add documentation example for processor package (#5675)
  processor/README.md
  processor/processorhelper/example_test.go
Labels: Skip Changelog

#13111 Print generated resource attributes for internal logs
  .chloggen/13110.yaml
  service/service.go
  service/telemetry/factory.go
  service/telemetry/logger.go
  service/telemetry/logger_test.go
Labels: ready-to-merge

#13162 [chore] Use pseudoversions for configoptional
  cmd/otelcorecol/go.mod
  internal/e2e/go.mod
  receiver/otlpreceiver/go.mod
Labels: receiver/otlp

#13169 Make all NewDefault* functions return structs instead of pointers
  .chloggen/mx-psi_newdefault-nopointer.yaml
  config/configgrpc/configgrpc.go
  config/configgrpc/configgrpc_test.go
  config/confighttp/confighttp.go
  config/confighttp/confighttp_test.go
  exporter/otlpexporter/factory.go
  receiver/otlpreceiver/config_test.go
  receiver/otlpreceiver/factory.go
Labels: exporter/otlp, receiver/otlp

#13216 [exporterhelper] Switch request context encoding from map to KV list
  Makefile
  exporter/exporterhelper/internal/queue/meta.pb.go
  exporter/go.mod
  pdata/xpdata/go.mod
  pdata/xpdata/request/context.go
  pdata/xpdata/request/context_test.go
  pdata/xpdata/request/internal/request.pb.go
  pdata/xpdata/request/internal/request.proto
  pdata/xpdata/request/logs_request.go
  pdata/xpdata/request/metrics_request.go
  pdata/xpdata/request/profiles_request.go
  pdata/xpdata/request/requesttest.go
  pdata/xpdata/request/traces_request.go
Labels: Skip Changelog

#13220 [exporterhelper] Preserve client metadata in the persistent queue
  .chloggen/persist-request-context.yaml
  exporter/debugexporter/go.mod
  exporter/exporterhelper/xexporterhelper/go.mod
  exporter/exportertest/go.mod
  pdata/xpdata/go.mod
  pdata/xpdata/request/context.go
  pdata/xpdata/request/context_test.go
  pdata/xpdata/request/internal/request.pb.go
  pdata/xpdata/request/internal/request.proto
  pdata/xpdata/request/logs_request.go
  pdata/xpdata/request/metrics_request.go
  pdata/xpdata/request/profiles_request.go
  pdata/xpdata/request/traces_request.go
Labels: Skip Changelog

#13232 [exporterhelper] Preserve client address in persistent queue
  .chloggen/persist-request-context.yaml
  pdata/xpdata/request/context.go
  pdata/xpdata/request/context_test.go
  pdata/xpdata/request/internal/request.pb.go
  pdata/xpdata/request/internal/request.proto
Labels: Skip Changelog

#13240 [chore] Automate release branch creation on tag push
  .github/workflows/release-branch.yml
  .github/workflows/scripts/release-branch.sh
  .github/workflows/sourcecode-release.yaml
  docs/release.md
Labels: ready-to-merge

#13193 Add subscript to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/stabilization.md
  .github/ISSUE_TEMPLATE/vote.md
Labels: Skip Changelog

#13301 [chore] Fix sourcecode-release workflow permissions
  .github/workflows/sourcecode-release.yaml
Labels: ci-cd, release:retro
