Repository open-telemetry/opentelemetry-collector, pull requests merged in 2025-04, with the labels that each got.

#12531 [mdatagen] Add variable for metric name
  .chloggen/add-metric-name-variable.yaml
  cmd/mdatagen/internal/sampleconnector/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/samplescraper/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/templates/metrics.go.tmpl
Labels: cmd/mdatagen

#12721 [chore] Added a workflow to lint YAML files using actionlint
  .github/actionlint.yaml
  .github/workflows/generate-semantic-conventions-pr.yaml
  .github/workflows/lint-workflow-files.yml
  Makefile
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: release:risky-change

#12813 [chore][security] bump go version to 1.23.8
  .github/workflows/api-compatibility.yml
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-windows.yaml
  .github/workflows/build-and-test.yml
  .github/workflows/builder-integration-test.yaml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/contrib-tests.yml
  .github/workflows/perf.yml
  .github/workflows/prepare-release.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcorecol/go.mod
Labels: release:risky-change

#12797 [chore][mdatagen] fix imports conditions and indentation
  cmd/mdatagen/internal/command_test.go
  cmd/mdatagen/internal/templates/metrics.go.tmpl
  cmd/mdatagen/internal/templates/telemetry.go.tmpl
  cmd/mdatagen/internal/templates/telemetrytest.go.tmpl
  cmd/mdatagen/internal/templates/telemetrytest_test.go.tmpl
Labels: cmd/mdatagen

#11864 [docs/component-stability.md] Add criteria for graduating between stability levels
  docs/component-stability.md
Labels: Skip Changelog

#12829 [chore]: clean up golangci-lint
  .golangci.yml
Labels: ci-cd

#12803 [exporterhelper][queuebatcher] partitioner as the interface to get partition key
  exporter/debugexporter/go.mod
  exporter/exporterhelper/internal/queue_sender.go
  exporter/exporterhelper/internal/queuebatch/partitioner.go
  exporter/exporterhelper/internal/queuebatch/partitioner_test.go
  exporter/exporterhelper/xexporterhelper/go.mod
  exporter/exportertest/go.mod
  exporter/go.mod
  exporter/nopexporter/go.mod
  exporter/xexporter/go.mod
Labels: Skip Changelog

#12882 [chore] [exporter/debug] docs: update example output after changes in telemetry
  exporter/debugexporter/README.md
Labels: Skip Changelog, exporter/debug

#12892 [chore] Two spelling lints.
  CHANGELOG.md
  docs/rfcs/env-vars.md
Labels: Skip Changelog, Skip Contrib Tests

#12846 Middleware: gRPC support (part 4/4)
  .chloggen/middleware-grpc.yaml
  config/configgrpc/README.md
  config/configgrpc/client_middleware_test.go
  config/configgrpc/configgrpc.go
  config/configgrpc/configgrpc_test.go
  config/configgrpc/go.mod
  config/configgrpc/server_middleware_test.go
  exporter/otlpexporter/go.mod
Labels: exporter/otlp

#12596 [chore] Create RFC for Optional config types
  .github/workflows/utils/cspell.json
  docs/rfcs/optional-config-type.md
Labels: rfc:final-comment-period

#12903 Fix typos in the exporter/exporterhelper README
  exporter/exporterhelper/README.md
Labels: Skip Changelog

#12908 fix: add missing imports
  .chloggen/fix_generated_logs_import.yaml
  cmd/mdatagen/internal/templates/logs_test.go.tmpl
Labels: cmd/mdatagen

#12883 [chore] [exporter/debug] docs: add docs on generating example output
  exporter/debugexporter/README.md
  exporter/debugexporter/generating-example-output.md
Labels: Skip Changelog, exporter/debug

#12915 Fix typo in README.md
  exporter/otlphttpexporter/README.md
Labels: Skip Changelog, exporter/otlphttp

#12919 [mdatagen] support producing docs for internal telemetry attributes
  .chloggen/codeboten_add-attributes-support-telemetry.yaml
  cmd/mdatagen/internal/command_test.go
  cmd/mdatagen/internal/templates/documentation.md.tmpl
  cmd/mdatagen/internal/testdata/with_telemetry.yaml
Labels: cmd/mdatagen

#12933 Put component-identifying scope attributes for internal metrics back behind feature gate
  .chloggen/lock-attributes-gate.yaml
  internal/telemetry/telemetry.go
Labels: collector-telemetry, Skip Changelog, release:blocker

#12942 [chore] update release.md
  docs/release.md
Labels: Skip Changelog, Skip Contrib Tests

#12828 [chore]: remove testifylint-fix target
  Makefile
Labels: release:risky-change

#12832 Add documentation example for xconfmap (#5675)
  confmap/xconfmap/example_test.go
Labels: Skip Changelog

#12904 [configauth] Deprecate Authentication in favor of authentication.Config
  .chloggen/mx-psi_naming-configauth.yaml
  config/configauth/configauth.go
  config/configauth/configauth_test.go
  config/configgrpc/configgrpc.go
  config/configgrpc/configgrpc_test.go
  config/confighttp/confighttp.go
  config/confighttp/confighttp_test.go
  exporter/otlpexporter/config_test.go
  extension/extensionauth/client.go
  extension/extensionauth/server.go
  extension/zpagesextension/zpagesextension_test.go
  internal/e2e/configauth_test.go
  receiver/otlpreceiver/config_test.go
Labels: exporter/otlp, receiver/otlp, extension/zpages

#12950 [chore] Update release doc
  docs/release.md
Labels: Skip Contrib Tests
